* {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  
}

body {
  margin: 20px;
  box-sizing: border-box;
  background-color: #50ffce;
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}
 
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
}
header {
}
input[type='text'] {
  margin-top: 50px;
  margin-bottom: 50px;
  white-space: pre-line; 
}

select#select-category {
  margin-bottom: 50px;
  white-space: pre-line;
}
select#select-difficulty {
  white-space: pre-line;
  margin-bottom: 50px;
  }
input.button {
  white-space: pre-line;
  margin-bottom: 50px;
  background-color: #50ffce;
}
#btn {
  margin-top: 10px;

  
}
div#question {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: x-large;
  font-weight: 700;
  color:#052663;
}
div#answer {
  background-color: white;
  border: 2px solid black;
  padding-bottom: 15px;
}
div.answer-div {
  flex-direction: row;
  text-align: left;
  padding: auto;
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
 
  
  max-width: 275px; /* 2 */
}
ul#answer-list{
  list-style-type: none; /* Remove bullets */
}
li {
  justify-content: right;
  text-align: left;
}
img {
  width: 100%;
}
#trivia-photo {
  max-width: 70%;
}
@media only screen and (max-width: 500px) {
  .container {
    background-color: #50ffce;
    border: none;
  }
}
