* {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  
}

body {
  margin: 20px;
  box-sizing: border-box;
  background-color: #50ffce;
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

div#question-number-div {
  margin-top: 50px;
}
h3#category {
  margin-top: 30px;
   
}
div#question {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: x-large;
  font-weight: 700;
  color:#052663;
}

/*=====================================================
Flex box for answers
======================================================*/

div#answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  padding-bottom: 15px;
}

/* Wrapper div for answers */
div.answer-div {
  padding: 0; /* Makes div wrap around elements */
  max-width: 275px;
}
#answerTitle{
  font-weight: 500;
}
h3#category{
  font-weight: 500;
}
ul#answer-list{
  list-style-type: none; /* Remove bullets */
  padding: 0; 
}
#img-div {
  margin-top: 50px;
}
/* Aligns answers */
li {
  text-align: left;
}
img {
  width: 100%;
}
#btn {
  margin-top: 30px;
  font-size: 20px;
}
#trivia-photo {
  max-width: 70%;
}

p#score {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
}
/*=====================================================
Break point
======================================================*/


@media only screen and (max-width: 500px) {
  body {
    margin: 0 auto;
  }
  .container {
    background-color: #50ffce;
    border: none;
  }
  h3#category {
    display: none;
     
  }
  #btn {
    font-size: 30px;
  }
}
